body {
    font-family: Tahoma;
}

@font-face {
  font-family: Heebo;
  src: url(/Users/honorcrandall/Library/Fonts/Heebo-VariableFont_wght.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(/Users/honorcrandall/Library/Fonts/Oswald-VariableFont_wght.ttf);
}
#page1{
  background-color:#131e40;
}
h1 {
  text-align: left;
  margin: 5% 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 34px;
}
h2 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 2.1vw;
}

h3{
  font-family: "Heebo", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

p{
  font-family: "Heebo", Arial, sans-serif;
  text-align: center;
  font-size: 2.5vw;
  padding-left: 4%;
  padding-right: 4%;
}
.icon {
  float:left;
  width:100px;
  margin-top:-18px;
  margin-left: 75px;
  margin-right: 18px;
}
#menu {
  border-radius: 15px;
  height: 60px;
  margin-left:75px;
  margin-right: 75px;
  background-color: #314475;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
}

#dmenu {
  display:none;
}

#images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50;
  height: auto;
}
#images::after {
  content: "";
  clear: both;
  display: table;
}
.right {
  float:right;
  width: 50%
}
.left {
  float:left;
  width: 50%
}

.column{
  width:64%;
}
.row2{
  width:100%;
}
.menu-item{
  line-height: 55px;
  font-family: "Heebo", Arial, sans-serif;
  font-size: 18px;
  color: white;
  margin: 0px 1%;
  text-decoration: none;
}

.menu-item:hover {
  background: #c2bd6b;
  border-radius: 35px;
  padding: 0px 20px;
  line-height: 50px !important;
  margin: auto;
}

.movebox {
   box-shadow: 10px 10px 5px #c4c4c4;
   transition: transform .2s; /* Animation */
}
.movebox:hover {
  transform: scale(.95);
}

.slideshow-container {
  transition: transform .2s;
  width:55%;
  float:left;
  margin-right:7%;
}
.slideshow-container:hover {
  transform: scale(.95);
}
#everythingelse{
  margin-top:1.9%;
  background-color:white;
  border-radius:15px;
  margin-left:75px;
  margin-right:75px;
}
.movebox{
  float:left;
  width: 36%;
  height: 17vw;
  margin:2%;
  margin-right: 5%;
  margin-top: 6%;
  border-radius: 15px;
}

@media only screen and (max-width: 1000px){


.icon{
  display: none;
}
#everythingelse{
  margin-left:0px;
  margin-right:0px;
}
  #dmenu{
    display: block;
  }
.column{
  width:100%;
}
.movebox{
  width:50%;
  height: 10%;
}

  /* Dropdown Button */
/*.dropbtn {
  background-color: midnightblue;
  color: white;
  padding: 3.75vw;
  font-size: 3.75vw;
  border: none;
}*/

.dropbtn {
  border:none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgsba(0,0,0,0.2);
  z-index: 1;
  font-size: 2.75vw;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: none;}

  #menu {
    display: none;
  }
  .slideshow-container{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }

  h1{
    font-size: 4vw;
    text-align: left;
    margin-bottom: 0%;
    margin-top: 5%
  }

  p{
    font-size: 3vw;
    padding-left: 4%;
    padding-right: 4%;
  }

  h3{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h2{
    font-size: 3vw
  }


#page4{

}
#page1{
  background-color:#131e40
}
#page3{

}
#page2{

}
