body {
    font-family: Tahoma;
}

#header{
  width:100%;
}

h1 {
  text-align: center;
  margin: 15px 15px;
  font-size: 3.1vw; // relative to the viewport's width
  font-size: 3.1vh; // relative to the viewport's height
  font-size: 3.1vm; // relative to the ratio width/height of the viewport
}
h2 {
  font-size: 2.1vw;
}

h3{
  margin-top: 10px;
  margin-bottom: 0px;
}

p{
  text-align: center;
  font-size: 2.5vw;
  padding-left: 4%;
  padding-right: 4%;
}

#menu {
  background-color: midnightblue;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

#dmenu {
  display:none;
}

#images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50;
  height: auto;
}
#images::after {
  content: "";
  clear: both;
  display: table;
}
.right {
  float:right;
  width: 50%
}
.left {
  float:left;
  width: 50%
}

#about {

}
.menu-item{
  font-size: 16px;
  color: white;
  margin: 0px 2%;
  text-decoration: none;
  font-size: 1.3vw; // relative to the viewport's width
}

.menu-item:hover {
  text-decoration: underline;
}

.slideshow-container {
  width:55%;
  float:left;
  margin: 20px
}
@media only screen and (max-width: 600px){

  #dmenu{
    display: block;
  }

  /* Dropdown Button */
/*.dropbtn {
  background-color: midnightblue;
  color: white;
  padding: 3.75vw;
  font-size: 3.75vw;
  border: none;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgsba(0,0,0,0.2);
  z-index: 1;
  font-size: 2.75vw;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: none;}

  #menu {
    display: none;
  }
  .slideshow-container{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }

  h1{
    font-size: 5vw;
  }

  p{
    font-size: 4vw;
    padding-left: 4%;
    padding-right: 4%;
  }

  h3{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h2{
    font-size: 3vw
  }
}

#page4{

}
#page1{

}
#page3{

}
#page2{

}
